<div class="container p-3">
    <h1 class="display-3 text-center"> Dashboard </h1>

    <div class="text-center mt-5">
        <div class="row">
            <div class="col">
                <div class="card py-5 shadow-sm overlay">
                    <div class="card-body rgba-green-slight">
                        Categories
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card py-5 shadow-sm">
                    <div class="card-body">
                        Products
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card py-5 shadow-sm">
                    <div class="card-body">
                        Orders
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>